.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: auto;
    padding: 0;
    background-image: url(https://i.ibb.co/4V2jznL/Untitled.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
